name: Test Balance
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test Balance
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r requirements.txt
      
      - name: Run Test
        run: python controller.py test
        env:
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}